<h2>
  All Contacts
</h2>

<table>
  <tbody>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Group</th>
      <th>Actions</th>
    </tr>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.id %></td>
        <td><%= contact.name %></td>
        <td><%= contact.surname %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.group_name %></td>
        <td>
          <%= link_to 'Edit', edit_contact_path(contact), remote: true %>
          <%= link_to 'Delete', contact_path(contact), method: :delete, remote: true, data: { confirm: 'Are you sure ?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create Contact', new_contact_path, remote: true %>
