<%= form_for @contact do |f| %>
  <div>
    <label for="contact_name">Name
      <%= f.text_field :name %>
    </label>
  </div>
  <div>
    <label for="contact_surname">Surname
      <%= f.text_field :surname %>
    </label>
  </div>
  <div>
    <label for="contact_email">Email
      <%= f.text_field :email %>
    </label>
  </div>
  <div>
    <label for="contact_phone">Phone
      <%= f.text_field :phone %>
    </label>
  </div>
  <div>
    <label for="contact_group_id">Group
      <%= f.select :group_id, Group.all.collect { |g| [g.name, g.id] } %>
    </label>
  </div>

  <%= f.submit value: (@contact.persisted? ? 'Update Contact' : 'Create Contact') %>
<% end %>
