<h1>Contacts</h1>

<%= search_form_for @q do |f| %>
  <%= f.text_field :name_or_surname_or_email_or_phone_or_group_name_cont %>
  <%= f.select :group_name_eq, Group.all.map(&:name) %>
  <%= f.submit %>
<% end %>

<%= link_to 'Create Contact', new_contact_path %>

<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Group</th>
    <th>Actions</th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td><%= contact.name %></td>
      <td><%= contact.surname %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.group_name %></td>
      <td>
        <%= link_to 'Edit', edit_contact_path(contact) %>
        <%= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: 'Are you sure ?' } %>
      </td>
    </tr>
  <% end %>
</table>
